.service-hero-section {
  background: url("../images/background_worker.jpg") no-repeat center
    center/cover;
  position: relative;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.service-hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1;
}

.service-hero-section .container {
  position: relative;
  z-index: 2;
}

.tech-lab-hero-section {
  background: url("../images/dibujos.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
}

.tech-lab-hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1;
}

.tech-lab-hero-section .container {
  position: relative;
  z-index: 2;
}

.engineering-hero-section {
  background: url("../images/transpaleta.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  color: white;
}

.engineering-hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1;
}

.engineering-hero-section .container {
  position: relative;
  z-index: 2;
}

.service-hero-section h1,
.service-hero-section p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: Roboto;
  /* Subtle shadow for readability */
}
